/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    .singel-contain p{
        font-size: 1.1rem;
    }
    .singe-service-item {
        padding: 90px 0px 0px 90px;
    }
    .singel-contain {
        height: auto;
        width: 70%;
    }
    .colo {
        width: 6%;
    }
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .singe-service-item {
        padding: 90px 0px 0px 50px;
    }
    .images {
        width: 10rem;
    }
    .singel-contain {
        height: auto;
        width: 100%;
    }
    .singel-contain h1 {
        font-size: 2.4rem;
    }
    .colo {
        width: 8%;
    }
    .singel-contain p {
        font-size: 1.3rem;
    }
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    .singe-service-item {
        padding: 60px 0px 0px 35px;
    }
    .images {
        width: 10rem;
        margin-bottom: 50px;
    }
    .singel-contain {
        height: auto;
        width: 100%;
    }
    .singel-contain h1 {
        font-size: 1.725rem;
    }
    .colo {
        width: 13%;
        margin-top: 0;
    }
    .singel-contain p {
        font-size: 1rem;
        line-height: 1.270rem;
    }
    .sectio-icon a {
        font-size: 1rem;
        padding-top: 0;
    }
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}