/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body{
  font-family: 'Source Sans Pro';
  position: relative;
  padding-bottom: 10%;
}

.singe-service-item {
  position: relative;
  padding: 150px 0px 0px 150px;
}
.images {
  width: 14rem;
  margin-bottom: 70px;
}
.images img {
  border-radius: 100%;
  width: 100%;
}
html {
  font-size: 18px;
  height: 100%;
}
body:before {
  background-image: linear-gradient(155deg, #D18282 1%, #5877A8 70%);
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
}
.singel-contain h1 {
  font-size: 3.125rem;
  line-height: 3.175rem;
  font-weight: 200;
  color: #fff;
}
.colo {
  height: 0.05rem;
  width: 3%;
  background-color: rgba(255,255,255,0.749);
  position: absolute;
  margin-top: 5px;
}
.singel-contain p {
  font-size: 1.6rem;
  line-height: 2.25rem;
  color: rgba(255,255,255,0.749);
  margin-top: 3rem;
  font-weight: 200;
}
.singel-contain {
  height: auto;
  width: 50%;
}
.sectio-icon a {
  padding: 1.6rem;
  padding-left: 0;
  font-size: 1.6rem;
  color: rgba(255,255,255,0.392);
}
.sectio-icon {
  margin-top: 2rem;
}

.sectio-icon a:hover {
  color: #fff;
}